/*
 * Globals
 */

body {
  font-family: "Open Sans";
  color: #36454f;
  background-color: #fff;

}

h1 {
  margin-top: 0;
  font-family: "Abril Fatface";
  font-weight: normal;
  color: #fff;
  
}
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Abril Fatface";
  font-weight: normal;
  color: #36454f;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.border {
  border: 1px solid black;
}


.blog-masthead {
  background-color: #36454f;
  color:#fff;
      -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

/*
 * Blog posts
 */
.blog-post-title {
  margin-bottom: 3px;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:  #364f4d;
    color:#fff;
   font-family: "Abril Fatface";
    width:300px;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
}

/*Weather*/
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  grid-area: weather;
  font-family: "Open Sans";
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  
}



i {
  color: #333;
  font-family: weather;
  font-size: 75px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
   

}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #333;
  font-size: 100%;
  font-weight: 300;
  text-align: center;
  font-family: "Open Sans";
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}



#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  display:block;
  padding: 5px;
  border-radius: 5px;

}

#weather .currently {
  margin: 0 20px;
}

/* Style Weather display ends here */


/*Google Map*/

      table {
        font-size: 12px;
        float: left;
      }
      #map {
        width: 100%;
        height: 650px;
        /*margin-top: 25px;*/
      }

      #locationField {
       
        width: 190px;
        height: 30px;
        /*left: 200px;*/
        top: 0px;
        z-index: 5;
		    padding: 0px;
		    right: 200px;
        
		  
      }
      #controls {
        left: 0px;
        right:200px;
        width: 140px;
        bottom: 5px;
        top: 5px;
        z-index: 5;
        background-color: #fff;
     
      }
      #autocomplete {
        width: 100%;
        
      }
      #country {
        width: 100%;
        top: 5px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 46px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

      
      #listing {

        height: 600px;
        width: 300px;
        overflow: auto;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
      }
      
      
      #resultsTable {
        border-collapse: separate;
      }

      
      .nopadding {
        padding-left: 0px;
        padding-right: 0px;
      }
      



